<div class="card mb-3 mb-xl-10">
  <div class="card-header col-form-label fw-semibold fs-6">{{ 'form.label.background_image'|trans }}</div>

  <div class="card-body px-5 m-0">
      <div class="d-flex flex-column mb-4">
          {{ form_row(form.backgroundImage) }}
      </div>
  </div>
</div>

<div class="card mb-3 mb-xl-10">
  <div class="card-header  col-form-label fw-semibold fs-6">{{ 'form.label.background_gradient'|trans }}</div>

  <div class="card-body px-5 m-0">
      <div class="d-flex flex-column mb-4">
          {{ form_row(form.backgroundGradientPrimary) }}
      </div>

      <div class="d-flex flex-column mb-4">
          {{ form_row(form.backgroundGradientSecondary) }}
      </div>
  </div>
</div>

<div class="card mb-0 mb-xl-10">
  <div class="card-header col-form-label fw-semibold fs-6">{{ 'form.label.background_darkening'|trans }}</div>

  <div class="card-body px-5 m-0">
      <div class="d-flex flex-column mb-4">
          {{ form_row(form.backgroundDarkeningPrimary) }}
      </div>

      <div class="d-flex flex-column mb-0">
          {{ form_row(form.backgroundDarkeningSecondary) }}
      </div>
  </div>
</div>