{% extends '@backend/base.html.twig' %}

{% block header %}{{ '%s%s%s'|format('ui.entity.', config.entity, '.show')|trans }}{% endblock %}

{% block title %}{{ '%s%s%s'|format('ui.entity.', config.entity, '.show')|trans }}{% endblock %}

{% block body %}
<div class="col-9 mb-3 mb-xl-10">
    <div class="card">
        <div class="card-header py-4 px-5 m-0 d-flex justify-content-between align-items-center">
            <div class="card-title col-10 m-0">
                <h3 class="fw-bold m-0">{{ block('header') }}</h3>
            </div>

            <div class="col card-toolbar d-flex justify-content-end">
                <a href="{{ path('backend_' ~ config.entity ~ '_index') }}" class="btn btn-primary">{{ '%s%s%s'|format('ui.entity.', config.entity, '.show_all')|trans }}</a>
            </div>
        </div>

        <div class="card-body px-5 m-0">
            {{ include('@backend/' ~ config.entity ~ '/_detail.html.twig', {'block_header': block('header')}) }}
        </div>

        <div class="card-footer d-flex justify-content-end p-5 pb-4">
            <a href="{{ path('backend_' ~ config.entity ~ '_index') }}" class="btn btn-secondary text-dark btn-active-light-primary me-2">{{ 'ui.button.go_back'|trans }}</a>
            {{ include('@backend/crud/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
