{{ form_start(form, {'attr': {'class': 'my-auto me-5 row gx-0 needs-validation was-validated'}}) }}
    <div class="col-9 mb-3 mb-xl-10">
        <div class="card mb-5 mb-xl-10">
            <div class="card-title py-4 px-5 m-0">
                <h3 class="fw-bold m-0">
                    <i class="bi bi-{{ config.icon }}"></i> {{ block_header }}
                </h3>
            </div>

            <div class="card-body p-5 m-0 pt-2">
                <div class="row">
                    <div class="col mb-4">
                        {{ form_row(form.email) }}
                    </div>

                    <div class="col mb-4">
                        {{ form_row(form.profile.companyRole) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-4">
                        {{ form_row(form.profile.firstName) }}
                    </div>

                    <div class="col mb-4">
                        {{ form_row(form.profile.lastName) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-4">
                        {{ form_row(form.profile.displayName) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-4">
                        {{ form_row(form.profile.description) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-5 mb-xl-10">
            <div class="card-title py-4 px-5 m-0">
                <h3 class="fw-bold m-0">{{ 'ui.advanced'|trans }}</h3>
            </div>

            <div class="card-body p-5 m-0 pt-2">
                <div class="row">
                    <div class="col mb-4">
                        {{ form_row(form.roles) }}
                    </div>
                </div>

                <div>
                    {{ form_widget(form.enabled) }}
                </div>
            </div>
        </div>

        <div class="card mb-5 mb-xl-10">
            <div class="card-title py-4 px-5 m-0">
                <h3 class="fw-bold m-0">{{ 'ui.password'|trans }}</h3>
            </div>

            <div class="card-body p-5 m-0 pt-2">
                <div class="row">
                    <div class="col mb-4">
                        {{ form_row(form.plainPassword.first) }}
                    </div>

                    <div class="col mb-4">
                        {{ form_row(form.plainPassword.second) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3 ps-5">
        <div class="sticky-top">
            {{ include('@backend/user/_user_aside.html.twig', {'user': entity}) }}
        </div>
    </div>
{{ form_end(form) }}