<div class="d-flex flex-column align-items-start vh-100 app-sidebar flex-column sticky-top">
    <div id="aside-header" class="w-100">
      <div class="d-none d-lg-flex pt-5 px-4 ms-2">
        <a href="{{ path('backend_dashboard') }}" class="w-100 text-center">
          <img src="{{ absolute_url(asset('build/images/backend/logo-wowcx-dark.png')) }}" alt="{{ settings.prop.siteSlogan }}" class="img-fluid" width="150" height="73">
        </a>
      </div>
    </div>

    <div id="aside-menu" class="app-sidebar-menu hover-scroll-y w-100">
      <div class="menu menu-column menu-sub-indention menu-active-bg fw-semibold px-3 my-2 my-lg-3">

      </div>
    </div>

    <div id="aside-footer" class="w-100 position-absolute bottom-0 text-bg-secondary-light">
      <hr class="d-none d-lg-block text-secondary">

      <div class="d-flex justify-content-between align-items-center py-3 px-4 ms-2 mb-4">
        <div class="dropdown dropup">
          <div class="d-flex justify-content-between btn btn-link px-0" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="symbol symbol-40px cursor-pointer me-2">
              {#
              {% if not app.user.profile.image %}
                <img src="https://avatar.iran.liara.run/public" width="40" height="40" class="img-fluid img-rounded" alt="{{ app.user.fullName }}">
              {% else %}
                <img src="{{ absolute_url(vich_uploader_asset(app.user.profile.image) | imagine_filter('avatar')) }}" width="40" height="40" class="img-fluid img-rounded" alt="{{ app.user.fullName }}">
              {% endif %}
              #}
            </div>

            <div class="d-flex flex-column text-start">
              <span class="text-dark fs-6 fw-semibold lh-0">{{ app.user.fullname }}</span>
              {% if app.user.profile.companyRole %}
                <span class="text-secondary-dark fw-semibold d-block fs-8">{{ app.user.profile.companyRole }}</span>
              {% endif %}
            </div>
          </div>
          <ul class="dropdown-menu">
            <!-- <li><a class="dropdown-item" href="#">My suscription</a></li> -->
            <!-- <li><a class="dropdown-item" href="#">My profile</a></li> -->
            <li>
              <a class="dropdown-item" href="{{ path('backend_user_edit', {id: app.user.id}) }}">{{ 'ui.edit_profile'|trans }}</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item" href="{{ path('backend_logout') }}">{{ 'ui.logout'|trans }}</a>
            </li>
          </ul>
        </div>

        <a class="btn btn-link" href="{{ path('backend_logout') }}">
          <i class="bi bi-box-arrow-right fs-5"></i>
        </a>
      </div>
    </div>
</div>